:root {
    --color-heading: #333;
    --color-paleo: #ffd43b;
    --color-primary: #e67e22;;
    --color-secondary: #fdf2e9;
    --color-tertiary: #45260a;
    --color-text: #555;
    --color-vegan: #94d82d;
    --color-vegetarian: #51cf66;
    --darker-primary: #cf711f;
    --lighter-primary: rgb(230, 125, 34 ,50%);
    --lighter-text: #767676;
    --color-gray: #6f6f6f;
    --transition-btn: transition: all 250ms ease;
}

/* Basics */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    box-shadow: 0 0 0 0.8rem var(--lighter-primary);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Typography */

body {
    color: var(--color-text);
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin: 3rem 0 1.38rem;
}

h1 {
    font-size: 4.209rem;
    margin-top: 0;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 1.5rem;
}

strong {
    font-weight: 500;
}

/* button */

.btn {
    border-radius: 8px;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2.4rem 1.6rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: var(--transition-btn);
}

.btn--primary:hover {
    background-color: var(--darker-primary);
    color: #fff;
}

.btn--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    transition: var(--transition-btn);
}

.btn--tertiary:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: var(--transition-btn); 
}

.btn--outline {
    background-color: #fff;
    transition: var(--transition-btn);
    color: var(--color-text);
}

.btn--outline:hover {
    background-color: var(--color-secondary);
    box-shadow: inset 0 0 0 3px #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1.6rem 2.4rem; 
    }
}

/* link */
a {
    text-decoration: none;
}

.link-arrow {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    position: relative;
    transition: var(--transition-btn);
}

.link-arrow:hover {
    border: none;
    color: var(--darker-primary);
}

/* badges */
.badge {
    border-radius: 40rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px 7px;
    text-transform: uppercase;
}

.badge--vegan {
    background-color: var(--color-vegan);
}

.badge--vegetarian {
    background-color: var(--color-vegetarian);
}

.badge--paleo {
    background-color: var(--color-paleo);
}

/* icons */
.icon {
    font-size: 2.4rem;
}

.icon--feature {
    border-radius: 50%;
    padding: 1.4rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.icon--primary {
    color: var(--color-primary);
}

.icon--lighter {
    color: var(--lighter-text);
}

/* list */
.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 3rem;
}

.list--icon .list__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1rem;
}

/* meal */
.meal {
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    transition: all 450ms ease;
}

.meal:hover {
    transform: translateY(-5px);
}

.meal__img {
    width: 100%;
}

.meal__content {
    padding: 1rem 2.4rem;
}

@media screen and (min-width: 1024px) {
    .meal__content {
        padding: 1.5rem 4.3rem;
    }
}

.meal__name {
    font-weight: 700;
}

.diet {}

/* testimonial */

.testimonial {
}

.testimonial__text {
    margin-bottom: 0.4rem;
}

.testimonial_img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.testimonial_name {
    color: var(--color-gray);
}