@import url(normalize.css   );

:root {
    --color-gray: #6f6f6f;
    --color-heading: #333;
    --color-paleo: #ffd43b;
    --color-primary: #e77e22;
    --color-secondary: #fdf2e9;
    --color-tertiary: #45260a;
    --color-text: #555;
    --color-vegan: #94d82d;
    --color-vegetarian: #51cf66;
    --darker-primary: #cf711f;
    --lighter-gray: #ddd;
    --lighter-primary: rgb(230, 125, 34 ,50%);
    --lighter-text: #767676;
    --transition-btn: all 250ms ease;
    --font-family: 'Rubik', sans-serif;
}

/* Basics */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    box-shadow: 0 0 0 0.8rem var(--lighter-primary);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.img-profile {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.container {
    max-width: 1200rem;
    margin: 0 auto;
}

.mr {
    margin-right: 1.6rem;
}

.mb {
    margin-bottom: 5rem;
}

.align-center {
    text-align: center;
}

/* Typography */

body {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin: 3rem 0 4rem;
    margin-top: 0;
    color: var(--color-heading);
    line-height: 3.7rem;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
}

h2 {
    font-size: 2.8rem;
}

.heading-2 {
    font-size: 1.2rem;
    color: #888;
    font-weight: 500;
    margin-bottom: .8rem;
    text-align: center;
}

.sub-heading {
    color: var(--darker-primary);
    font-weight: 500;
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.92rem;
    margin-bottom: 1.4rem;
    line-height: 1.4;
}

small,
.text-small {
    font-size: 1.3rem;
    color: var(--color-gray);
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    small,
    .text-small {
        font-size: 1.5rem;
    }

    h1,
    h2,
    h3{
        line-height: 4.5rem;
    }

    h1 {
        font-size: 4.209rem;
        margin-top: 0;
    }

    h2 {
        font-size: 4.4rem;
        margin-bottom: 8.64rem;
    }

    .heading-2 {
        font-size: 1.4rem;
        color: #888;
        font-weight: 500;
        margin-bottom: .8rem;
        text-align: center;
    }

    h3 {
        font-size: 2.369rem;
    }
}

strong {
    font-weight: 500;
}

/* button */

.btn {
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.8rem 1.4rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: var(--transition-btn);
}

.btn--primary:hover {
    background-color: var(--darker-primary);
    color: #fff;
}

.btn--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    transition: var(--transition-btn);
}

.btn--tertiary:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: var(--transition-btn); 
}

.btn--outline {
    background-color: #fff;
    transition: var(--transition-btn);
    color: var(--color-text);
}

.btn--outline:hover {
    background-color: var(--color-secondary);
    box-shadow: inset 0 0 0 3px #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1.6rem 2.6rem; 
    }
}

/* link */
a {
    text-decoration: none;
}

.link-arrow {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    position: relative;
    transition: var(--transition-btn);
}

.link-arrow:hover {
    border: none;
    color: var(--darker-primary);
}

/* badges */
.badge {
    border-radius: 40rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px 7px;
    text-transform: uppercase;
}

.badge--vegan {
    background-color: var(--color-vegan);
}

.badge--vegetarian {
    background-color: var(--color-vegetarian);
}

.badge--paleo {
    background-color: var(--color-paleo);
}

/* icons */
.icon {
    font-size: 2.4rem;
}

.icon--feature {
    background-color: var(--color-secondary);
    border-radius: 50%;
    color: var(--color-primary);
    padding: 1.4rem;
}

.icon--primary {
    color: var(--color-primary);
}

.icon--lighter {
    color: var(--lighter-text);
}

/* delivred */
.delivred {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 8rem;
}

.delivred__customers {
    display: flex;
}

.delivred__customers img:not(:first-of-type) {
    margin-left: -1rem;
    border: 2px solid #fff;
}

.delivered__text {
    font-weight: 600;
    line-height: 1;
}

.delivered__text strong {
    color: var(--darker-primary);
}

/* inputs */

input[type="text"],
input[type="email"],
select {
    padding: 1rem;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1.8rem;
    border: 0;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
select {
    outline: none;
}

::placeholder {
    color: #8d8d8d;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    columns: var(--color-tertiary);
}

.input-group label {
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--color-tertiary);
    font-size: 1.6rem;
}

/* list */
.list {
    list-style: none;
    padding-left: 0;
}


.list--inline {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.list--icon .list__item {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1rem;
}

/* header */

.header {
    background-color: var(--color-secondary);
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav button {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.nav__logo img{
    width: 13rem;
}

.collapsible__content {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 100%;
    transition: all 500ms ease-in-out;
    width: 100%;
    backdrop-filter: blur(2rem);
    z-index: 3;
}

.collapsible--expanded .collapsible__content {
    display: flex;
    margin-left: 0%;
    opacity: 1;
}

.nav__link {
    color: var(--color-heading);
    font-weight: 500;
    font-size: 2.4rem;
}

.btn--nav {
    padding: 0.5rem 2rem;
    background-color: var(--color-primary);
    border-radius: 9px;
    color: #fff;
}

.collapsible__content button:first-of-type{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

@media screen and (min-width: 1024px) {
    .header {
        overflow: visible;
        padding: 3.5rem 7rem;
    }

    .nav button {
        display: none;
    }

    .collapsible__content {
        margin-left: 0%;
        position: static;
        opacity: 1;
        width: auto;
        height: auto;
        background-color: inherit;
        flex-direction: row;
    }

    .nav__link {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .btn--nav {
        padding: 1rem 2rem;
    }

    .nav__logo img{
        width: 17rem;
    }
}

/* hero */
.hero {
    text-align: center;
}

.hero__text {
    margin-bottom: 5rem;
}

.hero__imgbox {
    margin-top: 5rem;
}

.hero__img {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .hero {
        text-align: left;
    }

    .hero__img {
        width: 100%;
    }
}

/* sponsor */
.sponsor {
    overflow: hidden;
}

.sponsor__logos {
    display: flex;
    justify-content: center;
}

.sponsor__logos img {
    filter: brightness(0);
    opacity: 0.5;
    height: 1.2rem;
    margin-right: 2rem;
}

@media screen and (min-width:1024px) {
    .sponsor__logos img {
        height: 3.2rem;
        margin-right: 4rem;
    }
}

/* step */

.step {
    margin-bottom: 4rem;
}

.step__number {
    font-size: 7.7rem;
    font-weight: 600;
    color: var(--lighter-gray);
}

.step__img {
    display: flex;
    justify-content: center;
    position: relative;
}

.step__img::after,
.step__img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
}

.step__img::after {
    background-color: #fae5d3;
    width: 45%;
    padding-bottom: 45%;
    z-index: 1;
}

.step__img::before {
    background-color: var(--color-secondary);
    width: 60%;
    padding-bottom: 60%;
}

.step__img img {
    width: 35%;
    z-index: 2;
}

/* meal */
.meal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    overflow: hidden;
    transition: all 450ms ease;
}

.meal:hover {
    transform: translateY(-5px);
}

.meal__img img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.meal__content {
    padding: 1rem 2.4rem;
}

@media screen and (min-width: 1024px) {
    .meal__content {
        padding: 1.5rem 4.3rem;
    }
}

.meal__name {
    font-weight: 700;
}

/* testimonial */
.testimonial__text {
    margin-bottom: 0.4rem;
}

.testimonial__name {
    color: var(--color-gray);
}

.gallery__img {
    overflow: hidden;
}

.gallery {
    margin: 0 -1.6rem;
}
.gallery__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 450ms ease;
}

.gallery__img img:hover {   
    transform: scale(1.1);
}


/* plans */
.plan {
    text-align: center;
    color: var(--color-heading);
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.plan--starter {
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
}

.plan--complete {
    background-color: var(--color-secondary);
}

.plan--best-value .plan__header::after {
    position: absolute;
    content: "BEST VALUE";
    top: 6%;
    right: -48%;
    padding: 0.4rem;
    font-weight: 700;
    width: 40rem;
    background-color: var(--color-paleo);
    transform: rotate(45deg);
    font-size: 1.2rem;
}

.plan__name {
    font-weight: 700;
    color: var(--darker-primary);
    text-transform: uppercase;
}
.plan__price {
    font-weight: 700;
    font-size: 5rem;
}

.plan__header {
    padding: 2.8rem;
    /* width: 100%; */
}

.plan__body {
    padding: 0 3rem;
}
.plan__price {
    margin: 0;
}

.plan__price span {
    font-size: 2.5rem;
}

.plan__footer {
    padding: 4.4rem 0;
}

aside {
    text-align: center;
    margin: 4rem 0 8rem 0;
}

aside p {
    font-size: 1.28rem;
}

@media screen and (min-width: 1024px) {
    .plan {
        width: 75%;
    }

    aside p {
        font-size: 1.6rem;
    }
}

/* diet */
.diet {
    justify-self: center;
}

/* feature */
.feature__title {
    font-weight: 700;
    font-size: 1.92rem;
    color: var(--color-heading);
}

/* contact */
.contact {
    border-radius: 9px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    overflow: hidden;   
}

.contact__img {
    height: 32rem;
    background:
    linear-gradient(rgba(230, 126, 34, 0.3), rgba(230, 126, 34, 0.3)),
    url(/img/eating.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact__form {
    padding: 3.5rem;
    background: linear-gradient(rgba(230, 126, 34, 0.8), rgba(230, 126, 34, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact__text {
    margin-bottom: 3rem;
    color: var(--color-tertiary);
}

.contact__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
    .contact__img {
        height: 100%;
    }

    .contact__form {
        padding: 6rem;
    }
}
/* grid */

.grid {
    display: grid;
}

.grid-center-v {
    align-items: center;
}

.grid-center-h {
    justify-items: center;
}


.gap-1x2 {
    gap: 0.8rem;
}

.gap-1x2-2 {
    gap: 9rem;
}

.gap-1x2-3 {
    gap: 4rem;
}

.gap-1x2-4 {
    gap: 3.5rem;
}

.gap-1x3 {
    gap: 4rem;
}

.gap-1x4 {
    gap: 4rem;
}

.gap-2x2 {
   gap: 3.5rem;
}

.gap-2x2-2 {
    gap: 3rem;
}


.grid--2x6 {
    gap: 1.8rem;
}

.grid--4x3 {
    grid-template-columns: repeat(4, 50fr);
    grid-template-rows: repeat(3, 50fr);
    gap: 1rem;
}

.grid-self-center-end {
    justify-self: end;
}

.gap-1x2-5 {
    row-gap: 5rem;
}

.acc {
    grid-area: acc;
}

.comp {
    grid-area: comp;
}

.ress {
    grid-area: ress;
}

.omni {
    grid-area: omni;
}

.conta {
    grid-area: contact;
}

@media screen and (min-width: 1024px) {
    .grid--1x2 {
        grid-template-areas: "left right";
        grid-template-columns: repeat(2, 50fr);
    }

    .grid--1x2-1 {
        grid-template-areas: "left right";
        grid-template-columns: 2fr 1fr;
    }

    .grid--1x3 {
        grid-template-columns: repeat(3, 50fr);
    }

    .grid--1x4 {
        grid-template-columns: repeat(4, 50fr);
    }

    .grid--2x2 {
        grid-template-columns: repeat(2, 50fr);
        grid-template-rows: repeat(2, 50fr);
    }

    .gap-1x2 {
        gap: 9.6rem;
    }

    .gap-1x2-2 {
        gap: 9.6rem;
    }

    .gap-1x2-3 {
        gap: 6rem;
    }

    .gap-1x3 {
        gap: 4rem;
    }

    .gap-1x4 {
        gap: 7rem;
    }

    .gap-2x2 {
        gap: 9rem;
    }

    .gap-2x2-2 {
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .grid--2x6 {
        grid-template-columns: repeat(2, 50fr);
        grid-template-rows: repeat(6, 50fr);
    }

    .grid-right {
        grid-area: right;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .grid--footer {
        grid-template-areas: none;
        grid-template-columns: repeat(5, 50fr);
        gap: 9rem;
    }
}

/* section */
.section-hero {
    padding: 4rem 2.5rem;
    background-color: var(--color-secondary);
}

.section-feature {
    padding: 3.8rem 2.5rem;
}

.section-step {
    padding: 7.8rem 2.5rem;
}

.section-meal {
    padding: 4rem 2.5rem;
}

.section-testimonial {
    padding: 4rem 2.5rem;
    background-color: var(--color-secondary);
}

.section-pricing {
    padding: 4rem 2.5rem;
}

.section-contact {
    padding: 4rem 2.5rem;
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }
    .section-step {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }

    .section-meal {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }

    .section-testimonial {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }

    .section-pricing {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }

    .section-contact {
        padding: 2.4rem 8rem 6.4rem 8rem;
    }
}