:root {
    --color-primary: #e67e22;
    --darker-primary: #cf711f;
    --color-secondary: #fdf2e9;
    --color-tertiary: #45260a;
    --color-text: #555;
    --lighter-text: #767676;
    --color-heading: #333;
}