<div class="delivred">
  <div class="delivred__customers">
    <img
      class="profile_img"
      src="img/customers/customer-1.jpg"
      alt="customer photo"
    />
    <img
      class="profile_img"
      src="img/customers/customer-2.jpg"
      alt="customer photo"
    />
    <img
      class="profile_img"
      src="img/customers/customer-3.jpg"
      alt="customer photo"
    />
    <img
      class="profile_img"
      src="img/customers/customer-4.jpg"
      alt="customer photo"
    />
    <img
      class="profile_img"
      src="img/customers/customer-5.jpg"
      alt="customer photo"
    />
    <img
      class="profile_img"
      src="img/customers/customer-6.jpg"
      alt="customer photo"
    />
  </div>
  <span class="delivered__text">
    <strong>250,000+</strong> meals delivered last year!
  </span>
</div>
