<div class="diet">
  <h3>Works with any diet:</h3>
  <ui class="list list--icon">
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Vegetarian
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Vegan
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Pescatarian
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Gluten-free
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Lactose-free
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Keto
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Paleo
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Low FODMAP
    </li>
    <li class="list__item">
      <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
      >Kid-friendly
    </li>
  </ui>
</div>
