<section class="section-hero">
  <div class="hero container grid grid--1x2 grid-center-v">
    <div class="hero__textbox">
      <h1>A healthy meal delivered to your door, every single day</h1>
      <p class="hero__text">
        The smart 365-days-per-year food subscription that will make you eat
        healthy again. Tailored to your personal tastes and nutritional needs.
      </p>
      <a href="#" class="btn btn--primary mr">Start eating well</a
      ><a href="#" class="btn btn--outline">Learn more &darr;</a>
      <div class="delivred">
        <div class="delivred__customers">
          <img
            class="img-profile"
            src="img/customers/customer-1.jpg"
            alt="customer photo"
          />
          <img
            class="img-profile"
            src="img/customers/customer-2.jpg"
            alt="customer photo"
          />
          <img
            class="img-profile"
            src="img/customers/customer-3.jpg"
            alt="customer photo"
          />
          <img
            class="img-profile"
            src="img/customers/customer-4.jpg"
            alt="customer photo"
          />
          <img
            class="img-profile"
            src="img/customers/customer-5.jpg"
            alt="customer photo"
          />
          <img
            class="img-profile"
            src="img/customers/customer-6.jpg"
            alt="customer photo"
          />
        </div>
        <span class="delivered__text">
          <strong>250,000+</strong> meals delivered last year!
        </span>
      </div>
    </div>
    <picture class="hero__imgbox">
      <img class="hero__img" src="img/hero.png" alt="" />
    </picture>
  </div>
</section>
