<ul class="list list--icon">
  <li class="list__item">
    <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
    >item 1
  </li>
  <li class="list__item">
    <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
    >item 2
  </li>
  <li class="list__item">
    <ion-icon class="icon icon--primary" name="checkmark-outline"></ion-icon
    >item 3
  </li>
</ul>
<ul class="list list--inline">
  <li class="list__item">item 1</li>
  <li class="list__item">item 2</li>
  <li class="list__item">item 3</li>
</ul>
