<section class="section-pricing">
  <span class="sub-heading">PRICING</span>
  <h2>Eating well without breaking the bank</h2>
  <div class="grid grid--1x2">
    <div class="plan plan--starter">
      <header class="plan__header">
        <p class="plan__name">Starter</p>
        <p class="plan__price"><span>$</span> 399</p>
        <p class="plan__text text-small">
          per month. That's just $13 per meal!
        </p>
      </header>
      <div class="plan__body">
        <ul class="list list--icon">
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            1 meal per day
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            Order from 11am to 9pm
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            Delivery is free
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="close-outline"
            ></ion-icon>
          </li>
        </ul>
      </div>
      <footer class="plan__footer">
        <a class="btn btn--primary">Start eating well</a>
      </footer>
    </div>
    <div class="plan plan--complete plan--best-value">
      <header class="plan__header">
        <p class="plan__name">Starter</p>
        <p class="plan__price"><span>$</span> 399</p>
        <p class="plan__text text-small">
          per month. That's just $13 per meal!
        </p>
      </header>
      <div class="plan__body">
        <ul class="list list--icon">
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            1 meal per day
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            Order from 11am to 9pm
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="checkmark-outline"
            ></ion-icon>
            Delivery is free
          </li>
          <li class="list__item">
            <ion-icon
              class="icon icon--primary"
              name="close-outline"
            ></ion-icon>
          </li>
        </ul>
      </div>
      <footer class="plan__footer">
        <a class="btn btn--primary">Start eating well</a>
      </footer>
    </div>
  </div>
  <aside>
    <p>
      Prices include all applicable taxes. You can cancel at any time. Both
      plans include the following:
    </p>
  </aside>
  <div class="grid grid--1x4">
    <div>
      <ion-icon class="icon icon--feature" name="infinite-outline"></ion-icon>
      <p class="feature__title">Never cook again!</p>
      <p>
        Our subscriptions cover 365 days per year, even including major
        holidays.
      </p>
    </div>
    <div>
      <ion-icon class="icon icon--feature" name="nutrition-outline"></ion-icon>
      <p class="feature__title">Local and organic</p>
      <p>
        Our cooks only use local, fresh, and organic products to prepare your
        meals.
      </p>
    </div>
    <div>
      <ion-icon class="icon icon--feature" name="leaf-outline"></ion-icon>
      <p class="feature__title">No waste</p>
      <p>
        All our partners only use reusable containers to package all your meals.
      </p>
    </div>
    <div>
      <ion-icon
        class="icon icon--feature"
        name="pause-circle-outline"
      ></ion-icon>
      <p class="feature__title">Pause anytime</p>
      <p>
        Going on vacation? Just pause your subscription, and we refund unused
        days.
      </p>
    </div>
  </div>
</section>
