<section class="section-step">
  <span class="sub-heading">HOW IT WORKS</span>
  <h2>Your daily dose of health in 3 simple steps</h2>
  <div class="step grid grid--1x2 grid-gap grid-center-v">
    <div class="step__img grid-right">
      <img src="img/app/app-screen-1.png" alt="" />
    </div>
    <div class="step__textbox">
      <p class="step__number">01</p>
      <h3>Tell us what you like (and what not)</h3>
      <p class="step__text">
        Never again waste time thinking about what to eat! Omnifood AI will
        create a 100% personalized weekly meal plan just for you. It makes sure
        you get all the nutrients and vitamins you need, no matter what diet you
        follow!
      </p>
    </div>
  </div>
  <div class="step grid grid--1x2 grid-gap grid-center-v">
    <div class="step__img">
      <img src="img/app/app-screen-2.png" alt="" />
    </div>
    <div class="step__textbox">
      <p class="step__number">02</p>
      <h3>Approve your weekly meal plan</h3>
      <p class="step__text">
        Once per week, approve the meal plan generated for you by Omnifood AI.
        You can change ingredients, swap entire meals, or even add your own
        recipes.
      </p>
    </div>
  </div>
  <div class="step grid grid--1x2 grid-center-v">
    <div class="step__img grid-right">
      <img src="img/app/app-screen-3.png" alt="" />
    </div>
    <div class="step__textbox">
      <p class="step__number">03</p>
      <h3>Receive meals at convenient time</h3>
      <p class="step__text">
        Best chefs in town will cook your selected meal every day, and we will
        deliver it to your door whenever works best for you. You can change
        delivery schedule and address daily!
      </p>
    </div>
  </div>
</section>
