<section class="grid grid--1x2 section-testimonial">
  <div>
    <spab class="sub-heading"> TESTIMONIALS </spab>
    <h2>Once you try it, you can't go back</h2>
    <div class="grid grid--2x2">
      <div class="testimonial">
        <img class="img-profile" src="/img/customers/dave.jpg" alt="customer" />
        <blockquote class="testimonial__text">
          Inexpensive, healthy and great-tasting meals, without even having to
          order manually! It feels truly magical.
        </blockquote>
        <small class="testimonial__name">&mdash; Dave Bryson</small>
      </div>
      <div class="testimonial">
        <img class="img-profile" src="/img/customers/ben.jpg" alt="customer" />
        <blockquote class="testimonial__text">
          The AI algorithm is crazy good, it chooses the right meals for me
          every time. It's amazing not to worry about food anymore!
        </blockquote>
        <small class="testimonial__name">&mdash; Ben Hadley</small>
      </div>
      <div class="testimonial">
        <img
          class="img-profile"
          src="/img/customers/steve.jpg"
          alt="customer"
        />
        <blockquote class="testimonial__text">
          Omnifood is a life saver! I just started a company, so there's no time
          for cooking. I couldn't live without my daily meals now!
        </blockquote>
        <small class="testimonial__name">&mdash; Steve Miller</small>
      </div>
      <div class="testimonial">
        <img
          class="img-profile"
          src="/img/customers/hannah.jpg"
          alt="customer"
        />
        <blockquote class="testimonial__text">
          I got Omnifood for the whole family, and it frees up so much time!
          Plus, everything is organic and vegan and without plastic.
        </blockquote>
        <small class="testimonial__name">&mdash; Hannah Smith</small>
      </div>
    </div>
  </div>
  <div class="grid grid--2x6">
    <img src="img/gallery/gallery-1.jpg" alt="" />
    <img src="img/gallery/gallery-2.jpg" alt="" />
    <img src="img/gallery/gallery-3.jpg" alt="" />
    <img src="img/gallery/gallery-4.jpg" alt="" />
    <img src="img/gallery/gallery-5.jpg" alt="" />
    <img src="img/gallery/gallery-6.jpg" alt="" />
    <img src="img/gallery/gallery-7.jpg" alt="" />
    <img src="img/gallery/gallery-8.jpg" alt="" />
    <img src="img/gallery/gallery-9.jpg" alt="" />
    <img src="img/gallery/gallery-10.jpg" alt="" />
    <img src="img/gallery/gallery-11.jpg" alt="" />
    <img src="img/gallery/gallery-12.jpg" alt="" />
  </div>
</section>
